.App{
    margin: 1em 10%;
}
.DiceDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#bunchOfButtons{
    display: grid;
    /* grid-template-columns: 1fr 5em 7em 1fr ; */
    grid-template-columns: 1fr 7em 1fr;
    gap: 2em;
    margin: 1em 0;
}
.buttons{
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto ;
}
.btnContainer{
    width: fit-content;
    margin: 0;
}
.numberDisplay{
    text-align: center;
    width: fit-content;
    margin-top: 5px;
    margin-left: 1em;
    margin-right: 1em;
}
.displayNumber{
    font-size: large;
    font-weight: bold;
}
.btn{
    color: rgb(154, 0, 0);
    padding: 10px 12px;
    background-color: orange;
    border: 1px solid rgb(237, 154, 1);
    border-radius: 5px;
    font-size: large;
}